<div class="center jumbotron">
  <h1>Documentation</h1>

  <h2>
    Contact the developer using the details on <strong><a href="https://llyx.herokuapp.com/contact">this page</a></strong>. 
  </h2>

  <p>
  	Important file locations: The main html template page can be found in app/views/incidents/show.html.erb, and this would be where major layout changes are made. <br> The database migrations are found in db/migrate, and it's here that you will find the files required to change tables in the database after running a migration generation in the console. <br> General configuration files are found in the config folder in the project root. 
  </p>

  <p>
  	Instructions for specific tasks go here!
  </p>
</div>