<div class="center jumbotron">
  <h1>Welcome to the Easy INOT App</h1>

  <h2>
    Instructions for Use
  </h2>

  <p>
  	To manage INOTs/mailing lists/departments/groups/applications/sites to the database simply click the appropriate 
  	navbar tab in the top right of the app. On these pages, you can create a new entry by simply navigating to the bottom of the existing entries, and clicking the "New -insert name of object-" button. The details of each entry can be seen by clicking the "Show" button on the right of each entry. An entry can be updated or deleted by clicking either the "Edit" or "Destroy" buttons in the same area, respectively.
  </p>

  <p>
  	For additonal documentation, please navigate to the <%= link_to "Help", help_path %> section. 

  </p>

  <%= link_to "Quick Start", new_incident_path, class: "btn btn-lg btn-primary" %>
</div>

