<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Emails</Data></Cell>
      </Row>
    <% @mailing_lists.each do |mailing_list| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= mailing_list.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= mailing_list.name %></Data></Cell>
        <Cell><Data ss:Type="Text"><%= mailing_list.emails  %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>