@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

 /* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.container {
    max-width:100%
}

.main {
    width:100%
}

/*
a.btn-lg {
    background-color:rgba(0,0,0,0.5);
    border-radius:0;
    color:#fff;
    font-size:18px;
    font-weight:100;
    height:60px;
    line-height:60px;
    margin:40px 0;
    padding:0;
    transition:background-color .5s;
    width:200px
}

a.btn-sm {
    background-color:rgba(0,0,0,0.5);
    border-radius:0;
    color:#fff;
    font-size:14px;
    font-weight:100;
    height:40px;
    line-height:40px;
    margin:15px 0;
    padding:0;
    transition:background-color .5s;
    width:150px
}

a.btn:hover, .nav li a:hover, .nav-btn:hover {
    background-color:#DF0174;
    color:#fff;
    transition:background-color .5s
}
*/
    
.menu ul {
    list-style:none;
    padding-left:0
}

.menu li {
    display:inline;
    line-height:100px;
    font-size:18px;
    font-weight:500;
    line-height:100px;
    height:100px;
    margin:0 20px 0 0}
    
.menu li a {
    color:#000
}

/* footer */

.footer {
  background-color:#fff;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align:right;
  height:200px;
  width:100%      
}


